label {
    display: block;
}

label.ui-dform-checkbox,label.ui-dform-radio {
    display: inline !important;
}

.ui-dform-submit,.ui-dform-span,.ui-dform-label,.ui-dform-tabs {
    margin: 10px 0;
}

.ui-dform-submit {
    display: block;
}

.ui-tabs-nav .ui-dform-label { margin: 0; }

.ui-tabs-panel blockquote { margin: 0; }

label.ui-accordion-header { margin: 0; }

.ui-dform-radio, .ui-dform-checkbox {
    float: left;
}